.imageBox{
    position: relative;
}
.toppercent{
    transform: scale(1.4);
    padding: 7px 8px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.topbg{
    background-color: rgba(255,212,36,.9);
    width: 36px;
    height: 32px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 4px 2px 3px;
    font-weight: 700;
}
.flexItem{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-weight: 400;
    line-height: .8125rem;
    color: #ee4d2d;
    text-transform: uppercase;
    font-size: .75rem;
}
.off{
    color: var(--primary-color);
}
.topbg::after{
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0 18px 4px;
}
.bottomBox{}
.bottomBox span{
    font-size: 12px;
}
.pricebox{
font-size: 14px;
color: var(--price-color);
text-align: center;
}
.pricebox h3{
    font-size: 35px;
    font-weight: var(--medium-font-weight);
}
.pcolor{
    background-color: bisque;
}
.flashbg{
    position: absolute;
    top: 0;
    left: 0;
}