.userleft {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  color: #444;
  /* box-shadow: 0 0 5px gray; */
}
.userNav {
  /* background-color: #e5e5e5; */
  padding: 5px;
  border-radius: 10px;
}

.userNav div div {
  display: flex;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.userNav div div:hover {
  color: tomato;
}

.userNav .subNav {
  font-weight: 400;
  color: #888;
  /* font-weight: bold; */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  border-left: 1px solid lightgray;
}
.userNav .subNav span {
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.userNav .subNav span:hover {
  color: tomato;
}
